In [1]:
import os, sqlite3,json
os.remove('tests.db')
conn = sqlite3.connect('tests.db')
cur = conn.cursor()

In [2]:
init_test = "CREATE TABLE test(\
    id INTEGER PRIMARY KEY,\
    subject VARCHAR(20),\
    answer_keys VARCHAR(1000));"

ans_key = json.dumps({str(k):['A','B','C','D'][k%4] for k in range(50)})

insert_test = "INSERT INTO test\
    VALUES (null,'Test',?);"

In [3]:
cur.execute(init_test)
cur.execute(insert_test,(ans_key,))
cur.close()
conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('tests.db')
cur = conn.cursor()
read = "SELECT * FROM test where subject=?;"
cur.execute(read,('HAHAH',))

In [4]:
conn = sqlite3.connect('tests.db')
cur = conn.cursor()
read = "SELECT * FROM test;"
try:
    cur.execute(read)
except:
    pass
finally:
    values = cur.fetchall()
    for row in values:
        print(row)
    cur.close()
    conn.close()

(1, 'Test', '{"0": "A", "1": "B", "2": "C", "3": "D", "4": "A", "5": "B", "6": "C", "7": "D", "8": "A", "9": "B", "10": "C", "11": "D", "12": "A", "13": "B", "14": "C", "15": "D", "16": "A", "17": "B", "18": "C", "19": "D", "20": "A", "21": "B", "22": "C", "23": "D", "24": "A", "25": "B", "26": "C", "27": "D", "28": "A", "29": "B", "30": "C", "31": "D", "32": "A", "33": "B", "34": "C", "35": "D", "36": "A", "37": "B", "38": "C", "39": "D", "40": "A", "41": "B", "42": "C", "43": "D", "44": "A", "45": "B", "46": "C", "47": "D", "48": "A", "49": "B"}')

In [5]:
init_sub = "CREATE TABLE submission(\
    scantron_id INTEGER PRIMARY KEY,\
    scantron_url VARCHAR(100),\
    name VARCHAR(20),\
    score INTEGER,\
    result VARCHAR(1000));"

sub_key = json.dumps({str(k):['A','A','C','C'][k%4] for k in range(50)})
insert_sub = "INSERT INTO submission\
    VALUES (null,'http://1.pdf','foo',25,?);"

In [6]:
conn = sqlite3.connect('tests.db')
cur = conn.cursor()
cur.execute(init_sub)
cur.execute(insert_sub,(sub_key,))
cur.close()
conn.commit()
conn.close()

In [7]:
conn = sqlite3.connect('tests.db')
cur = conn.cursor()
read = "SELECT * FROM submission;"
try:
    cur.execute(read)
except:
    pass
finally:
    values = cur.fetchall()
    for row in values:
        print(row)
    cur.close()
    conn.close()

(1, 'http://1.pdf', 'foo', 25, '{"0": "A", "1": "A", "2": "C", "3": "C", "4": "A", "5": "A", "6": "C", "7": "C", "8": "A", "9": "A", "10": "C", "11": "C", "12": "A", "13": "A", "14": "C", "15": "C", "16": "A", "17": "A", "18": "C", "19": "C", "20": "A", "21": "A", "22": "C", "23": "C", "24": "A", "25": "A", "26": "C", "27": "C", "28": "A", "29": "A", "30": "C", "31": "C", "32": "A", "33": "A", "34": "C", "35": "C", "36": "A", "37": "A", "38": "C", "39": "C", "40": "A", "41": "A", "42": "C", "43": "C", "44": "A", "45": "A", "46": "C", "47": "C", "48": "A", "49": "A"}')